{% extends "base.html" %}

{% block content %}

{% load static %}

{% if user.is_authenticated %}

<div class="row">
    <div class="col-8 offset-2">
        <h1 class="h1 display-2 text-center">Your Recipes</h1>
        <hr>
    </div>
</div>

<!-- Add Recipe Button -->
<div class="row">
    <div class="col text-center">
        <a href="{% url 'add_recipe' %}" class="btn btn-secondary mt-2">Add Recipe</a>
    </div>
</div>

<!-- Recipe Card -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in page_obj %}
                <div class="col-md-4 mb-1">
                    <div class="card mb-4">
                            <div class="card-body">
                                <a href="{% url 'recipe_detail' recipe.slug %}" class="no-deco text-black">
                                    <div class="image-container">
                                        <img class="card-img-top img-fit" src=" {{ recipe.featured_image }}" height="300" alt="{{ recipe.title }}">
                                    </div>
                                        <h2 class="card-title">{{ recipe.title }}</h2>
                                        <p class="text-muted">by {{ recipe.author }}</p>
                                        <p class="card-text">{{ recipe.excerpt|safe }} <!-- no closing p tag as one will exist at the end of the description template-->
                                    <hr />
                                    <p class="card-text text-muted h6">{{ recipe.created_on}} <i class="far fa-heart"></i>
                                        {{ recipe.likes }}</p>
                                </a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}

                <!-- If user has no created recipes -->
                {% empty %}
                <div class="container log-box">
                    <div class="row justify-content-md-center">
                        <div class="col-md-12 mt-4">
                            <p class="lead text-center">Looks like you dont have any recipes yet! Try adding some now.
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    {% include "pagination.html" %}

{% else %}

{% include "not_logged_in.html" %}

{% endif %}

{% endblock %}